<div class="container" ng-controller="UserController">
	<h1 class="well"><center><font face="Monotype Corsiva">Login Page</font></center></h1>
	<div class="row">
		<form>
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-6 form-group">
						<label>Login Name</label>
						<input type="text"  name="loginName"  ng-model="User.loginName" placeholder="Enter User Name Here" >
					</div>
					<div class="col-sm-6 form-group">
						<label>Password</label>
						<input type="password" name="password" ng-model="User.password" placeholder="Enter password Here" >
					</div>
					<center><input type="submit" value="Login" ng-click="login()" class="btn btn-lg btn-info"></center>
					<span ng-show="userNameExist">Login Name or Password is incorrect</span>					
				</div>
			</div>
		</form>
	</div>
</div>