<div ng-app="myApp">
<div class="container" ng-controller="UserController">
	<h1 class="well"><center><font face="Monotype Corsiva">Registration Page</font></center></h1>
	<div class="col s5">
	  <div id="panel" class="card-panel hoverable">
		<form name="register" >
			
				<div class="row">
					<div class="input-field">
						<label>Login Name</label>
						<input id="loginName" type="text" name="loginName" ng-model="User.loginName" placeholder="Enter User Name Here" ng-maxlength="15" ng-minlength="6" class="form-control" ng-blur="chkDuplicateLogin()" required>
						<div ng-show="register.$dirty">					
						<span ng-show="userNameExist">User Name is already taken</span>
						<span ng-show="register.loginName.$error.minlength" style="color:red">Minimun characters is 6</span>
						<span ng-show="register.loginName.$error.maxlength" style="color:red">Maximum characters is 15</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="input-field">
						<label>Password</label>
						<input id="password" type="password" name="password" ng-model="User.password" placeholder="Enter User Password Here" ng-minlength="8" class="form-control" required>
						<span ng-show="register.password.$error.minlength" style="color:red">Minimun characters is 8</span>
					</div>
				</div>
				<div class="row">
					<div class="input-field">
						<label>Confirm Password</label>
						<input id="cPassword" type="password" name="cPassword" ng-model="cPassword" placeholder="Re- Enter Password Here" ng-minlength="8" class="form-control" required>
						<span ng-show="(!register.password.$error.required && !register.cPassword.$error.required) && User.password != cPassword" style="color:red">Password and Confirm Password do not match</span>
						
					</div>
				</div>	
				<div class="row">
					<div class="input-field" > <!--  "form-group"> -->
						<label>User Name</label>
						<input id="userName" type="text" name="userName" ng-model="User.userName" placeholder="Enter Your Name Here" ng-minlength="5" ng-maxlength="50" class="form-control" required>
						<span ng-show="register.userName.$error.minlength" style="color:red">Minimun characters is 5</span>
						<span ng-show="register.userName.$error.maxlength" style="color:red">Maximum characters is 50</span>
						
					</div>
				</div>
				<div class="row">
					<div class="input-field">
						<label>Email Id</label>
						<input id="emailId" type="email" name="emailId" ng-model="User.emailId" placeholder="Enter Your Email Here" class="form-control" required>
						<span ng-show="register.emailId.$error.required" style="color:red">Email id is Mandatory</span>
					</div>
				</div>
				<div class="row">
					<div class="input-field">
						<label>Mobile No</label>
						<input id="mobileNo" type="text" name="mobileNo" ng-model="User.mobileNo" placeholder="Enter Your Mobile No " ng-minlength="10" class="form-control" required>
						<span ng-show="register.mobileNo.$error.minlength" style="color:red">Minimun Length is 10</span>
						<span ng-show="register.mobileNo.$error.required" style="color:red">Mobile No is Mandatory</span>
					</div>
				</div>
				<div class="row">
					<div class="input-field">
						<label>Address</label>
						<textarea id="address" rows="5" col="15" type="text" name="address" ng-model="User.address" placeholder="Enter Your Address Here" class="form-control" required> </textarea>
					</div>
				</div>
					<button   ng-disabled="(register.$invalid || userNameExist )" type="button" ng-click="registered()" class="btn btn-lg btn-info">Submit</button>
				
		</form>
	</div>
 </div>
</div>
</div>