
<div class="container" ng-controller="JobController">

<div class="table-responsive">
<table class="table-responsive" border="1">

	<tr>
		<th>Job Description</th>
		<th>Designation</th>
		<th>Salary</th>
		<th>Company</th>
		<th>Job Location</th>
		<th> Last Date to Apply </th>
	</tr>
	<tr ng-repeat="job in allJobData">
		
			<td>{{job.jobDescription}}</td>
			<td>{{job.jobDesignation}}</td>
			<td>{{job.salary}}</td>
			<td>{{job.company}}</td>
			<td>{{job.location}}</td>
			<td>{{job.lastDateApply}}</td>
			<td><input ng-show="currentUser.role=='USER'" type="button" value="Apply" class="btn btn-info" ng-click="applyJob(job.jobId)"/></td>
			<td><input ng-show="currentUser.role=='ADMIN'"type="button" value="Delete" class="btn btn-info" ng-click="deleteJob(job.jobId)"/></td>
			
						
	</tr>
</table>
</div>
</div>